.header {
  font-family: $altFont;
  font-size: 12rem;
  color: $altColor;
  text-align: center;
  padding: 3%;
  text-shadow: 4px 4px $stColor;
  background-color: $rdColor;
  @media all and (max-width: 640px) {
    font-size: 8rem;
  }
  @media all and (min-width: 1200px) {
    padding: 1%;
  }
}
