.main {
  padding-bottom: 30px;
  .error-message {
    margin: 10%;
    text-align: center;
    color: $ndColor;
    font-family: $altFont;
    font-size: 3rem;
  }
  .search-section {
    width: 100%;
    padding: 1%;
    background-color: $rdColor;
    font-family: $altFont;
    font-size: 1.2rem;
    text-transform: uppercase;
    &__title {
      background-color: $rdColor;
      font-size: 2.2rem;
      margin-bottom: 10px;
      text-align: center;
      color: $altColor;
    }
    &__form {
      background-color: $rdColor;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 1%;
      @media all and (max-width: 640px) {
        flex-direction: column;
        margin-bottom: 3%;
      }
      .filterName {
        margin-bottom: 1rem;
        background-color: $rdColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 2.5%;
        @media all and (max-width: 640px) {
          margin-bottom: 5%;
        }
        &__label {
          margin-bottom: 6px;
          color: $altColor;
        }
        &__input {
          border-radius: 50px;
          padding: 5px 7px;
          font-family: $stFont;
          font-size: 0.9rem;
          background-color: $ndColor;
          color: $rdColor;
          border: 2px solid $ndColor;
          box-shadow: 3px 3px $altColor;
          margin-right: 5%;
        }
      }
      .filterHouse {
        margin-bottom: 1rem;
        background-color: $rdColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 2.5%;
        @media all and (max-width: 640px) {
          margin-bottom: 5%;
        }
        &__label {
          margin-bottom: 6px;
          color: $altColor;
        }
        &__select {
          cursor: pointer;
          font-family: $stFont;
          border-radius: 50px;
          width: 100px;
          padding: 7px;
          font-size: 0.9rem;
          background-color: $ndColor;
          color: $rdColor;
          border: 2px solid $ndColor;
          box-shadow: 3px 3px $altColor;
          &--option {
            font-family: $stFont;
            background-color: $ndColor;
            font-size: 0.9rem;
          }
        }
      }
      .filterAncestry {
        margin-bottom: 2%;
        background-color: $rdColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 2.5%;
        @media all and (max-width: 640px) {
          margin-bottom: 5%;
        }
        &__label {
          margin-bottom: 6px;
          color: $altColor;
        }
        &__select {
          cursor: pointer;
          font-family: $stFont;
          border-radius: 50px;
          width: 150px;
          padding: 7px;
          font-size: 0.9rem;
          background-color: $ndColor;
          color: $rdColor;
          border: 2px solid $ndColor;
          box-shadow: 3px 3px $altColor;
          &--option {
            font-family: $stFont;
            background-color: $ndColor;
            font-size: 0.9rem;
          }
        }
      }
    }
    &__reset-btn {
      cursor: pointer;
      border-radius: 50px;
      padding: 6px 4px 4px;
      font-size: 0.8rem;
      text-transform: uppercase;
      font-family: $altFont;
      background-color: $altColor;
      color: $rdColor;
      border: 2px solid $altColor;
      box-shadow: 3px 3px $ndColor;
      text-align: center;
      margin: 0 2.5% 3%;
    }
  }
  .list-section {
    background-color: $rdColor;
    padding-bottom: 20px;
    &__list {
      background-color: $stColor;
      border-radius: 50px;
      margin: 0 7%;
      padding: 3% 3%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      &--element {
        background-color: $ndColor;
        margin: 10px 20px;
        border-radius: 50px;
        .card-info {
          width: 35%;
          text-decoration: none;
          text-align: center;
          cursor: pointer;
          &__img {
            height: 210px;
            width: 150px;
            display: block;
            margin: 20px 20px 10px;
            border-radius: 50px;
          }
          &__title {
            font-family: $altFont;
            font-size: 1.6rem;
            text-align: center;
            margin-bottom: 5px;
            color: $rdColor;
            background-color: transparent;
          }
          &__species {
            font-family: $stFont;
            font-size: 1rem;
            color: $rdColor;
            background-color: transparent;
            font-style: italic;
          }
          &__ancestry {
            font-family: $stFont;
            font-size: 1rem;
            margin-bottom: 5px;
            color: $rdColor;
            background-color: transparent;
            font-style: italic;
          }
        }
      }
    }
  }
}
